[data-theme="light"] {
    --background: #fffbff;
    --outline: #6f797a;
    --surface-1: #f3f6fc;
    --surface-2: #eff3fa;
    --surface-3: #edf2fa;
    --surface-4: #eaf0f9;
    --text: #251a00;
}

[data-theme="dark"] {
    --background: #1C1B1F;
    --outline: #938F99;
    --surface-1: #212024;
    --surface-2: #262529;
    --surface-3: #2b2a2e;
    --surface-4: #302f2e;
    --text: #E6E1E5;
}

html, body, root {
    background-color: var(--background);
}

#root {
    display: flex;
    height: 100%;
    flex-direction: row;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

header, nav button {
    padding: 20px 20px;
    font-size: 1.5vw;
    text-align: center;
}

header, #charts, .tableHeader {
    border-bottom: 1px solid var(--outline);
}

nav, #title, th, td, .chart {
    border-right: 1px solid var(--outline);
}

#title {
    top: 0;
    position: sticky;
    background-color: var(--background);
}

.chart {
    padding: 20px;
}

tr:hover {
    background-color: var(--surface-1);
}

th button {
    padding: 10px;
}

th, td {
    width: 16.6%;
}

p {
    padding: 5px;
}

@media only screen and (min-width: 800px) {
    #charts {
        display: flex;
        flex-direction: row;
        flex-grow: 0;
    }

    .chart {
        display: flex;
        flex-grow: 1;
        width: 50%;

    }

    table button {
    font-size: 1.25vw;
}

    table p {
        font-size: 1.15vw;
    }
}

@media only screen and (max-width: 800px) {
    nav * {
        font-size: 3vw;
    }

    #charts {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
    }

    .chart {
        display: flex;
        flex-grow: 1;

    }
    table button {
        font-size: 3vw;
    }

    table p {
        font-size: 3vw;
    }
}



.headerSortAscending:after {
    content: "↓";
}

.headerSortAscendingNumber:after {
    content: "↑";
}

.headerSortDescending:after {
    content: "↑";
}

.headerSortDescendingNumber:after {
    content: "↓";
}

nav {
    top: 0;
    position: sticky;
    height: 100vh
}

#sticky_nav {
    display: flex;
    flex-direction: column;
    height: 100vh
}

.bottom_bar {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-content: flex-end;
}

.bottom_bar button:first-child {
    border-right: 1px solid var(--outline);
}

.bottom_bar button {
    width: 50%;
    border-top: 1px solid var(--outline);
}

button {
    background: none;
    border: none;
    margin: 0;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: var(--surface-1);
}

button:active {
    background-color: var(--surface-3);
}

.active {
    background-color: var(--surface-3);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

li {
    display: flex;
    align-content: center;
}

main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    border-left: 2px solid #283640;
}

main header {
    text-align: left;
    padding: 20px 0 0 20px;
}

#table {
    display: flex;
    overflow: auto;
}

table {
    table-layout: auto;
    flex-grow: 1;
}

th, td {
    width: 16.6%;
    padding: 0.25% 0;
}


p {
    color: #545F68;
}
