* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

body {
  background-color: #202B33;
  display: flex;
  min-height: 100%;
}

nav {
  color: #545F68;
  padding: 20px;
  border-right: 2px solid #1e2830;
}

#sticky_nav {
  position: sticky;
  top: 20px;
}

header {
  font-size: 2vw;
  color: #D3D3D3;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

#active {
  color: #D3D3D3;
}

ul {
  list-style: none;
}
li {
  position: relative;
  padding: 10px 0;
  font-size: 1.5vw;

}
main {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  border-left: 2px solid #283640;
  padding: 20px;
}

section {
  display: flex;
  flex-basis: 5%;
  flex-grow: 1;
}

#charts {
  flex-grow: 1;
}

.chart_wrapper {
  display: flex;
  position: relative;
  flex-grow: 1;
}

#table {
  display: flex;
  flex-direction: column;
  font-size: 1vw;
}

.row_header p {
  color: #D3D3D3;
}

p {
  color: #545F68;
}
