<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wealth Viewer</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <nav>
            <header>Wealth Manager</header>
            <ul>
                <li id="active">All Characters</li>
                {% for character in characters %}
                    <li>{{ character }}</li>
                {% endfor %}
            </ul>
        </nav>
        <main>
            <header>{{ current_character }}</header>
            <section id="charts">
                <canvas id="chartA" class="chart"></canvas>
                <canvas id="chartB" class="chart"></canvas>
                <canvas id="chartC" class="chart"></canvas>
            </section>
        </main>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
<script>
const wealthChartContext = document.getElementById('chartA');
const wealthChart = new Chart(wealthChartContext, {
    type: 'bar',
    data: {
        labels: {{ wealth.1|tojson|safe }},
        datasets: [{
            label: 'Wealth In GP',
            data: {{ wealth.0|tojson|safe }},
            backgroundColor: {{ wealth.2|tojson|safe }},
            borderColor: {{ wealth.2|tojson|safe|replace("0.2", "1")}},
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        aspectRatio: 1,
    }
});

const wealthWithoutConsumablesContext = document.getElementById('chartB');
const wealthWithoutConsumables = new Chart(wealthWithoutConsumablesContext, {
    type: 'bar',
    data: {
        labels: {{ wealth_without_consumable.1|tojson|safe }},
        datasets: [{
            label: 'Wealth Without Consumables In GP',
            data: {{ wealth_without_consumable.0|tojson|safe }},
            backgroundColor: {{ wealth_without_consumable.2|tojson|safe }},
            borderColor: {{ wealth_without_consumable.2|tojson|safe|replace("0.2", "1")}},
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        aspectRatio: 1,
    }
});
</script>
</html>
