<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wealth Viewer</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <nav>
            <div id="sticky_nav">
                <header>Wealth Manager</header>
                <ul>
                    {% for character in characters %}
                        {% if current_character == character["name"]  %}
                            <li><a href="/{{ character["name"] }}" id="active">{{ character["name"] }}</a></li>
                        {% else %}
                            <li><a href="/{{ character["name"] }}">{{ character["name"] }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <main>
            <header>{{ current_character }}</header>
            <section id="charts">
                    <canvas id="chartA" class="chart"></canvas>
                    <canvas id="chartB" class="chart"></canvas>
            </section>
                {% for character in characters %}
                    {% if current_character == character["name"]  %}
                        <section id="table">
                            <table>
                            <tr>
                                <th class="row_header"><p>Name</p></th>
                                <th class="row_header"><p>Level</p></th>
                                <th class="row_header "><p>Quantity</p></th>
                                <th class="row_header "><p>Value</p></th>
                                <th class="row_header "><p>Total Value</p></th>
                                <th class="row_header "><p>Consumable</p></th>
                            </tr>
                            {% for item in character["items"] %}
                                <tr>
                                    <th><p>{{ item["name"] }}</p></th>
                                    <th><p>{{ item["level"] }}</p></th>
                                    <th><p>{{ item["quantity"] }}</p></th>
                                    <th><p>{{ item["value"] }} GP</p></th>
                                    <th><p>{{ item["value"] * item["quantity"] }} GP</p> </th>
                                    <th><p>{{ "✓" if item["consumable"] else '✗' }}</p></th>
                                </tr>
                            {% endfor %}
                            </table>
                        </section>
                    {% endif %}
                {% endfor %}
        </main>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
<script>
const wealthChartContext = document.getElementById('chartA');
const wealthChart = new Chart(wealthChartContext, {
    type: 'bar',
    data: {
        labels: {{ wealth.1|tojson|safe }},
        datasets: [{
            label: 'Wealth In GP',
            data: {{ wealth.0|tojson|safe }},
            backgroundColor: {{ wealth.2|tojson|safe }},
            borderColor: {{ wealth.2|tojson|safe|replace("0.2", "1")}},
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        maintainAspectRatio: false
    }
});

const wealthWithoutConsumablesContext = document.getElementById('chartB');
const wealthWithoutConsumables = new Chart(wealthWithoutConsumablesContext, {
    type: 'bar',
    data: {
        labels: {{ wealth_without_consumable.1|tojson|safe }},
        datasets: [{
            label: 'Wealth Without Consumables In GP',
            data: {{ wealth_without_consumable.0|tojson|safe }},
            backgroundColor: {{ wealth_without_consumable.2|tojson|safe }},
            borderColor: {{ wealth_without_consumable.2|tojson|safe|replace("0.2", "1")}},
            borderWidth: 1
        }]
    },
    options: {
        responsive: false,
        maintainAspectRatio: false
    }
});
</script>
</html>
