* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  color: #545F68;
  font-family: "Times New Roman", fantasy;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background-color: #202B33;
  display: flex;
}

h1 {
  color: #D3D3D3;
}

nav {
  color: #545F68;
  padding: 20px;
  border-right: 2px solid #1e2830;
}

#sticky_nav {
  position: sticky;
  top: 20px;
}

header {
  font-size: 2vw;
  color: #D3D3D3;
}

button {
  flex-grow: 1;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

nav button {
    font-size: 1.5vw;
}

table button {
    font-size: 1vw;
}

.active {
  color: #D3D3D3;
}

ul {
  list-style: none;
}

li {
  padding: 10px 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  border-left: 2px solid #283640;
}

main header {
  padding: 20px 0 0 20px;
}

#charts {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  height: 50%;
  width: 50%;
}

canvas {
  flex-basis: 100%;
}

#table {
  display: flex;
  overflow: auto;
}

th, td {
  width: 16.6%;
}

table {
  table-layout: auto;
  flex-grow: 1;
}

.tableHeader p {
  color: #D3D3D3;
  flex-basis: 100%;
}

p {
  color: #545F68;
}
