* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  color: #545F68;
  font-family: "Times New Roman", fantasy;
}

html, body, root {
  height: 100%;
  background-color: #202B33;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: row;
  background-color: #202B33;
}

h1 {
  color: #D3D3D3;
}

.headerSortAscending:after {
  content: "↓";
}

.headerSortAscendingNumber:after {
  content: "↑";
}

.headerSortDescending:after {
  content: "↑";
}

.headerSortDescendingNumber:after {
  content: "↓";
}

nav {
  display: flex;
  align-content: center;
  color: #545F68;
  padding: 20px 0.5%;
  border-right: 2px solid #1e2830;
}

header {
  text-align: center;
  font-size: 1.5vw;
  color: #D3D3D3;
}

button {
  flex-grow: 1;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}

nav button {
    font-size: 1.4vw;
    text-align: center;
}

table button {
    font-size: 1.25vw;
}

table p {
  font-size: 1.15vw;
}

.active {
  color: #D3D3D3;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  display: flex;
  align-content: center;
  padding: 5% 0;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-left: 2px solid #283640;
}

main header {
  text-align: left;
  padding: 20px 0 0 20px;
}

#charts {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
}

.chart {
  display: flex;
  flex-grow: 1;
  width: 50%;

}

#table {
  display: flex;
  overflow: auto;
}

table {
  table-layout: auto;
  flex-grow: 1;
}

th, td {
  width: 16.6%;
  padding: 0.25% 0;
}



p {
  color: #545F68;
}
